{% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <title>n-Rook Solver</title>
    <link rel="stylesheet" href="{% static 'css/solver.css'%}" />
    <script src="{% static 'js/solver.js' %}"></script>
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    /> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="main-container">
      <div class="title">
        <h1>N-ROOK SOLVER</h1>
        <!-- <p>logkom</p> -->
      </div>
      <div class="form">
        <div class="text-input">
          <input
            type="text"
            placeholder="Enter number of rooks"
            id="jumlahRook"
            name="fname"
          />
          <label for="jumlahRook">Input N </label><br />
        </div>
        <div class="rookButton">
          <button type="button" id="submitButton" class="n-rook">
            Create Chessboard Table
          </button>
        </div>
      </div>
      <div class="place" id="place"></div>
    </div>
  </body>
</html>
